doctype html
html(lang='en')
  head
    title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet")
    link(href='css/app.css', rel='stylesheet')
  body
    
    .card
      .top-header
        h1 Levi Zitting
      img.profile-img(src="images/levi.jpg")
      h2 Here's Some Info About Me
      .profile-text
        p.
          I am a 19 year old Web Developer based in Southwest Missiouri. 
          I love learning about and using technology.
          If i'm not writing code, you can usually find me building custom desktop PC's or playing video games.
      br
      br
      .connect
        h2 Connect With Me
        .twitter.social
          img(src="images/twitter.png")
          p
            a(href="https://twitter.com/levi_zitting" target="_blank") @levi_zitting
        .github.social
          img(src="images/github.png")
          p
            a(href="https://github.com/glitchedmob" target="_blank") @glitchedmob
      .contact
        h2 Contact Me
        form
          label(for="name") Name:
          input(type="text" id="name" name="name" placeholder="John Doe")
          label(for="email") Email:
          input(type="email" id="email" name="email" placeholder="john@example.com")
          label(for="message") Message:
          textarea(id="message" name="message" rows="10" placeholder="Your message here")
          input.btn(type="submit" value="Submit")

      